<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/cadastro.css">
        <title>MutirON - Cadastro</title>
    </head>
    <body>

        <header>
            <div class="container">
            <img
                src="/images/mutiron3.png"
                alt="MutirON"
            />
        </header>

        <main>
            <div class="container-form">
                <div class="container-campos">
                    <form action="/users/insereUsuario" method="POST">
                        <span>Cadastro</span><br>
                        <div class="campo">
                            <label for="nome">Nome:</label><br>
                            <input type="text" name="nome"><br>
                        </div>
                        <div class="campo">
                            <label for="senha">Senha:</label><br>
                            <input type="passrowd" name="senha"><br>
                        </div>

                        <div class="btnCadastro">
                            <button type="submit">Cadastrar</button>
                        </div>
                        <a href="login.html"><small>Já é cadastrado?</small></a>
                    </form>
                </div>
            </div>
        </main>
        
    </body>
</html>