<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MutirON - Página principal</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/menu.css">
    
</head>
<body>

    <header>
        <div class="container">
          <div class="img">
            <a href="/index"><img src="/images/mutiron3.png" alt="MutirON"/></a>
          </div>
          <div id="divBusca">
            <input type="text" id="txtBusca" placeholder="Buscar...">
            <a href=""><button id="btnBusca">Buscar</button></a>
          </div>
          <div class="nav">
            <nav>
              <ul>
                <li>
                  <a href="events/criarEvento">Novo evento</a>
                </li>
                
              </ul>
            </nav>
          </div>
        </div>
    </header>

    <main class="main">
      <div class="eventos">
        <ul>
          <% eventos.forEach((element) => { %>
            <li>
              <div class="borda">
                <div class="evento">
                  <div class="informacoes">
                    <div class="title">
                      <%= element.titulo %>
                    </div>
                    <div class="descricao">
                      <%= element.descricao %>
                    </div>
                    <div class="btnVerMais">
                      <a href="/events/evento/<%=element.idevento%>"><div class="btnV">Ver mais</div></a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <br>
          <% }); %>
        </ul>
      </div>
    </main>
</body>
</html>