<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MutirON - Página principal</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/menu.css">
    
</head>
<body>

    <header>
        <div class="container">
          <div class="img">
            <img src="/images/mutiron3.png" alt="MutirON"/>
          </div>
          <div id="divBusca">
            <input type="text" id="txtBusca" placeholder="Buscar...">
            <a href=""><button id="btnBusca">Buscar</button></a>
          </div>
          <div class="nav">
            <nav>
              <ul>
                <li>
                  <a href="https://caiobuteri.github.io/mutiron/criarEvento">Novo evento</a>
                </li>
                <li>
                  <a href="#">Notificações</a>
                </li>
                <li>
                  <a href="#">Perfil</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
    </header>

    <main class="main">
      <!--
      <div class="choose-event">
        <div class="botaomut">
          <a href=""><button>MUTIRÕES</button></a>
        </div>
        <div class="botaodoac">
          <a href=""><button>DOAÇÕES</button></a>
        </div>            
      </div>
    -->
      <div class="eventos">
        <div class="borda">
          <div class="evento">
            <div class="imgEvento">
              <img src="images/teste.png" alt="testando imagem" width="200" height="200">
            </div>
            <div class="informacoes">
              <div class="title">
                Vacina grátis pra COVID-19
              </div>
              <div class="descricao">
                Amanhã, dia 29 de fevereiro de 2020, estaremos esperando ansiosamente a chegada
                de milhões de doses da vacina para a COVID-19 aaaaaaa aaaaaaaaa aaaaaaaa aaaaaaaaa
                aaaaaaaa aaaaaaaaa aaaaaaaaa aaaaaaaaa aaaaaaaaa aaaaaaaaa aaaaaaaaa aaaaaaaaa
                aaaaaaaaa aaaaaaaaa aaaaaaaaa aaaaaaaaa aaaaaaaaa aaaaaaaaa aaaaaaaaa
              </div>
              <div class="btnVerMais">
                <a href=""><div class="btnV">Ver mais</div></a>
              </div>
            </div>
          </div>
        </div>
        <div class="espacamento"></div>
        <div class="borda">
          <div class="evento">
            <div class="imgEvento">
              <img src="images/teste.png" alt="testando imagem" width="200" height="200">
            </div>
            <div class="informacoes">
              <div class="title">
                Vacina grátis pra COVID-19
              </div>
              <div class="descricao">
                Amanhã, dia 29 de fevereiro de 2020, estaremos esperando ansiosamente a chegada
                de milhões de doses da vacina para a COVID-19 aaaaaaa aaaaaaaaa aaaaaaaa aaaaaaaaa
                aaaaaaaa aaaaaaaaa aaaaaaaaa aaaaaaaaa aaaaaaaaa aaaaaaaaa aaaaaaaaa aaaaaaaaa
                aaaaaaaaa aaaaaaaaa aaaaaaaaa aaaaaaaaa aaaaaaaaa aaaaaaaaa aaaaaaaaa
              </div>
              <div class="btnVerMais">
                <a href=""><div class="btnV">Ver mais</div></a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>
    
</body>
</html>