* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
  }
  
html,
body {
    height: 100vh;
    font-family: "Source Sans Pro";
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    background-color: #FFFAFA;
  }header {
    background-color: #FFFAFA;
    border-bottom: solid 2px #e2003a;
    padding-bottom: 15px;
  }
  
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    width: 100%;
    margin: auto;
  }
  
header img {
    width: 150px;
    margin-left: 50px;
    padding: 15px 0;
  }

.nav {
    padding-right: 50px;
}
  
header nav ul {
    display: flex;
  }
  
header nav ul li {
    list-style: none;
  }
  
header nav ul li a {
    text-decoration: none;
    color: #e2003a;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 16px;
    padding: 24px;
    transition: all 250ms linear 0s;
  }
  
header nav ul li a:hover {
    background: rgba(202, 118, 93, 0.15)
  }

#divBusca{
      background-color: #FFFAFA;
      border:solid 2px #e2003a;
      border-radius: 10px;
      height: 40px;
      width: 400px;
  }

#txtBusca{
    float: left;
    background-color: transparent;
    border: none;
    padding-left: 5px;
    font-style: italic;
    width: 320px;
    text-decoration: #e2003a;
    font-size: 18px;
    height: 100%;
}

#btnBusca {
    border: none;
    float: right;
    height: 100%;
    width: 70px;
    border-radius:0 7px 7px 0;
    background-color: #e2003a;
    font-weight: bold;
    color: #FFFAFA;
}