<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../css/evento.css">
    <title>Mutiron - Título</title>
</head>
<body>
    
    <header>
        <div class="container">
          <div class="img">
            <img src="./images/mutiron3.png" alt="MutirON"/>
          </div>
          <div id="divBusca">
            <input type="text" id="txtBusca" placeholder="Buscar...">
            <a href=""><button id="btnBusca">Buscar</button></a>
          </div>
          <div class="nav">
            <nav>
              <ul>
                <li>
                  <a href="https://caiobuteri.github.io/mutiron/criarEvento">Novo evento</a>
                </li>
                <li>
                  <a href="#">Notificações</a>
                </li>
                <li>
                  <a href="#">Perfil</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
    </header>

    <main>
        <div class="fotoEvento">
            <img src="images/teste.png" alt="Fotos do evento" >
        </div>
        <div class="titulo">
            <b>Vacina grátis pra COVID-19</b>
        </div>
        <div class="descricao">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu dui nisi.
            Nam sed magna et justo ultrices rhoncus nec et lacus. Curabitur in ante luctus, finibus nisl ac, 
            bibendum nisi. Proin tristique quis mauris sit amet tincidunt. Aenean finibus pulvinar tincidunt. 
            Mauris maximus scelerisque laoreet. Integer vel urna in metus tincidunt placerat eu a erat.
            Suspendisse orci nisl, ornare id semper vel, gravida sit amet ligula. 
            Praesent laoreet cursus urna, in luctus arcu. Suspendisse sed erat id odio eleifend tempor.
            Proin placerat dolor mollis, volutpat orci eu, fringilla ipsum. 
            Morbi hendrerit risus vel mi ullamcorper luctus. 
            Maecenas imperdiet sollicitudin mauris in pretium. Proin nulla quam, mollis et massa vel, 
            vestibulum sagittis est. Maecenas felis massa, sagittis in arcu nec, tristique eleifend tortor.
            Vivamus interdum, nibh sed fringilla mollis, nisi lectus porttitor ipsum, 
            non tristique erat eros condimentum sapien. 
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        </div>
        <div class="opcoes">
            <ul>
                <li><a href="">Curtir</a></li>
                <li><a href="">Participar</a></li>
            </ul>
        </div>
    </main>
    
</body>
</html>