<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MutirON - Login</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>

    <header>
        <div class="container">
          <img
            src="./images/mutiron3.png"
            alt="MutirON"
          />
    </header>

    <main>
        <div class="container-form">
            <div class="container-campos">
                <form action="#" method="POST">
                    <span>Login</span>
                    <label for="nome">Nome:</label><br>
                    <input type="text" name="nome"><br>
                    <div class="container-password">
                        <label for="senha">Senha:</label><br>
                        <input type='password' name="email"><br>
                    </div>
                    <div class="container-btn">
                        <a href=""><button type="submit">Login</button></a>
                    </div>
                    <div class="container-link">
                        <a href=""><small>Esqueceu a senha?</small></a><br>
                        <a href="cadastro.html"><small>Ainda não é cadastrado?</small></a>
                    </div>
                </form>
            </div>
        </div>
    </main>

    
</body>
</html>